[Unit]
Description=Pelias Placeholder Service

[Service]
User=ubuntu
Type=simple
WorkingDirectory=/home/ubuntu/placeholder
ExecStart=/usr/bin/npm start
[Install]
WantedBy=default.target
